body {
  background-color: #eee;
  color: #434344;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.App {
  text-align: center;
  display : grid; 
  grid-template-columns: 80px 120px;
  height: 90vh;
}

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

.headernavigation button {
  border: none;
  padding: 8px 25px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  border-radius: 1.25rem;
  background-color: #51bb7b;
}

.headernavigation {
  
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  color: #9f9c9c;
  text-transform: uppercase;
  display : flex;
  justify-content: space-between;
  align-items: center;
}

.headernavigation nav ul  { 
  display: flex;
  list-style-type: none;
}

.headernavigation nav ul li { 
  margin-right : 15px;
}

.headernavigation nav ul li svg { 
  display : inline;
}

.sidenav {
  grid-column: 2 / 3;
  grid-row:  2 / 3; 
}

.sidenav ul {
  list-style-type: none;
  margin-top: 1rem;
  text-align: left;
  padding-left: 8px;
  font-size:  1rem;
}

.workspace { 
  grid-column: 3;
  grid-row: 2;    
}

.workspace p  {
  font-size: 1rem;
  margin-bottom: .75rem;
}

.footer { 
  grid-column: 1 / 4;
  grid-row: 6 / 7;
  
}

.iconsidenav {
  grid-column: 1 / 2;
  grid-row:  2 / 3;
  
}

.iconsidenav ul {
  list-style-type: none;
  margin-top: 1rem;
  font-size:  1rem;
}

