
.icon-list-alt:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-spin1:before { content: '\e830'; } /* '' */
.icon-genderless:before { content: '\f22d'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */